In [3]:
print("Getting started with python")

Getting started with python

In [4]:
5/4

1.25

In [5]:
print("Hi\nLets do some math!")

Hi
Lets do some math!

In [34]:
a = 15
b = 7
print(a + b)  

print(a - b) 
print(a * b) 
print(a / b)
print(a // b)  #quotient
print(a % b) 
print(a ** b)

22
8
105
2.142857142857143
2
1
170859375

In [7]:
# Order of calculation in Python. BEDMAS (Bracket, Exponential, Division,Multiplication,Addition,Substraction)
print(9 * 2 - 4 + 3 / 5)

14.6

In [8]:
# Incremental/decremental condition
incdec = 9
incdec += 1
print(incdec)
incdec -= 1
print(incdec)

10
9

In [9]:
#Logical operations
print(3 < 4)
print(True and False) 
print(True or False)
print(a!=b) 
print(True and not False)
print(False and False)

True
False
True
True
True
False

In [10]:
""" This is an example of converting the lower case characters to uppercase
 and upper case letters to lower case."""

small = "these letters are small cased and will turn to upper case"
print(small.upper())

upper = "THESE LETTERS ARE UPPER CASED AND WILL TURN TO LOWER CASE"
print(upper.lower())

THESE LETTERS ARE SMALL CASED AND WILL TURN TO UPPER CASE
these letters are upper cased and will turn to lower case

In [11]:
space_right_string = "Bengaluru is the capital of Karnataka    "
print(space_right_string)
print(space_right_string.rstrip())

Bengaluru is the capital of Karnataka
Bengaluru is the capital of Karnataka

In [37]:
inc = '37%'
print(inc.rstrip('%'))

37%

In [13]:
space_left_string = "   Bengaluru is called the Garden City of India"
print(space_left_string)
print(space_left_string.lstrip())

   Bengaluru is called the Garden City of India
Bengaluru is called the Garden City of India

In [14]:
space_string = "   Bengaluru is also called the sillicon valley of India  "
print(space_string)
print(space_string.strip())

   Bengaluru is also called the sillicon valley of India
Bengaluru is also called the sillicon valley of India

In [15]:
mixed_string = '*678#'
print(mixed_string.rstrip('#').lstrip('*'))

678

In [16]:
val = "6 cars"
no_of_cars = val[0] 
print('number of cars is', no_of_cars)

number of cars is 6

In [17]:
find = val[2:]
print(find)

cars

In [18]:
#slicing by specifying start and end index
print(val[2:5])

car

In [19]:
vehicles = "6 bikes 3 cars n"
bikes = vehicles[ :8]
print(bikes)

6 bikes

In [20]:
print(vehicles[ :-2])

6 bikes 3 cars

In [21]:
cars = vehicles[8:-2]
print(cars)

3 cars

In [22]:
nums = '123456789'
even_nums = nums[1::3]
print(even_nums)

258

In [23]:
odd_nums = nums[0::2]
print(odd_nums)

13579

In [38]:
odd_nums_again = nums[ :: 2]

In [25]:
first_name = "Sachin"
last_name = 'Tendulkar'

In [26]:
name = first_name + " " + last_name
print(name)

Sachin Tendulkar

In [39]:
age = 30
my_age = ("I am "+ str(age) + " years old")

In [40]:
My_age = "I am {0} years old".format(age)

In [29]:
A = "Machine"
B = "Learning"
C = "Python"

print("{0} {1} using {2}".format(A,B,C))
f = A+B+'using'+C

Machine Learning using Python

In [30]:
#concat and update
name += ' ' + my_age
print(name)

Sachin Tendulkar I am 30 years old